#nextcloud-migrate-admin label {
	display: inline-block;
	min-width: 180px;
}

#nextcloud-migrate-admin #ncm-run-detail-content {
	background: var(--color-background-dark);
	padding: 8px;
	max-height: 300px;
	overflow: auto;
	border-radius: var(--border-radius);
}
